*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1c1c1c;
    font-family: Arial, Helvetica, sans-serif;
}

.fundo{
    background-color: black;
}

/* Cabeçalho */
.cabecalho{
    background-color: black;
    width: 100%;
    text-align: center;
}

.cabecalho a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.logotipo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo__img{
    width: 50px;
    border-radius: 10px;
    display: inline;
}

.logo__nome{
    margin: 0px 15px;
}

.cabecalho__menu{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho__menu--linha{
    display: inline;
}

.cabecalho__menu .cabecalho__menu--linha-item{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 0.8rem;
    height: 25px;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: none;
}

.cabecalho__menu--linha-item:hover{
    background-color: rgb(161, 105, 0);
}

.perfil{
    display: flex;
    align-items: center;
}

.perfil--usuario{
    width: 30px;
    border-radius: 5px;
}

.perfil--usuario-nome{
    padding: 5px;
}

/* Conteúdo Principal */
.container{
    width: 90%;
    margin: auto;
}

.entrada{
    padding-top: 50px;
}

.titulo{
    font-size: 1.4rem;
    color: orange;
    text-align: center;
    border: 1px solid orange;
    padding: 5px 10px;
}

.form__pesquisar{
    width: 100%;
}

.area__pesquisar{
    display: flex;
    margin-top: 10px;
}

.area__pesquisar a{
    display: flex;
}

#cPesquisar{
    border: 0;
    background-color: white;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.9rem;
}

#cPesquisar:focus{
    outline: 0;
    border: 2px solid orange;
}

.pesquisar__icone{
    background-color: orange;
    width: 25px;
    padding: 5px 10px;
    cursor: pointer;
}

.pesquisar__icone:hover{
    background-color: rgb(161, 105, 0);
}

.animes{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid orange;
    margin-top: 10px;
    padding-bottom: 30px;
}

.lista__animes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}

.lista__animes--item{
    margin: 30px 10px;
}

.lista__animes--item a{
    text-decoration: none;
}

.lista__animes--item figcaption:hover{
    color: gray;
}

.lista__animes--item figure{
    width: 100px;
    height: 150px;
}

.imagem--anime{
    width: inherit;
    height: inherit;
}

.imagem--anime:hover{
    filter: grayscale();
}

.nome--anime{
    color: orange;
    text-align: center;
    font-weight: bold;
    margin-top: 3px;
}

.poster--pb{
    display: flex;
    margin: auto;
    margin-top: 25px;
}

/* Rodapé */
.rodape{
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 150px;
    border-top: 2px solid orange;
    font-size: 0.9rem;
    padding: 10px;
}

/* Celular */
@media (min-width: 400px){
    .lista__animes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
    }
}

@media (min-width: 500px){
    .lista__animes--item figure{
        width: 125px;
        height: 175px;
    }
}

/* Tablet */
@media (min-width: 768px){
    .container{
        width: 80%;
    }

    .lista__animes{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }
}

/* PC */
@media (min-width: 1200px){
    .cabecalho a{
        font-size: 1.8rem;
    }

    .cabecalho__menu .cabecalho__menu--linha-item{
        padding: 0.8rem 1.5rem;
        font-size: 1.0rem;
        height: 35px;
    }

    .perfil--usuario{
        width: 50px;
    }
    
    .perfil--usuario-nome{
        padding: 10px;
    }

    .entrada{
        padding-top: 100px;
    }

    .logotipo{
        padding: 20px 10px;
    }

    .logo__img{
        width: 60px;
    }
    
    .logo__nome{
        margin: 0px 20px;
    }

    .area__pesquisar{
        margin-top: 20px;
    }

    #cPesquisar{
        padding: 5px 10px;
        font-size: 1.0rem;
    }
    
    .pesquisar__icone{
        background-color: orange;
        width: 25px;
        padding: 10px 25px;
        cursor: pointer;
    }

    .animes{
        margin-top: 20px;
        padding-bottom: 50px;
    }

    .lista__animes{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.0rem;
    }

    .lista__animes--item figure{
        width: 150px;
        height: 200px;
    }

    .nome--anime{
        margin-top: 5px;
        font-size: 1.1em;
    }

    .poster--pb{
        display: flex;
        margin: auto;
        margin-top: 50px;
    }
}

/* TV */
@media (min-width: 1600px){
    .fundo{
        width: 80%;
        margin: auto;
    }

    .titulo{
        font-size: 2.0rem;
    }

    .area__pesquisar{
        margin-top: 30px;
    }
    
    #cPesquisar{
        padding: 10px 15px;
        font-size: 1.1rem;
    }
    
    #cPesquisar:focus{
        outline: 0;
        border: 4px solid orange;
    }
    
    .pesquisar__icone{
        background-color: orange;
        width: 30px;
        padding: 10px 30px;
        cursor: pointer;
    }
    
    .animes{
        margin-top: 30px;
    }

    .lista__animes{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin-top: 15px;

    }

    .lista__animes--item{
        margin-top: 25px;
    }

    .lista__animes--item figure{
        width: 200px;
        height: 250px;
    }

    .nome--anime{
        margin-top: 10px;
        font-size: 1.3em;
    }
}