*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.sucessos{
    background-color: green;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    font-size: 1.2em;
    width: 80%;
    text-align: center;
}

#btn__ok{
    font-size: 1.0em;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 10px;
    color: orange;
    display: block;
    margin: 15px auto;
    width: 200px;
    text-align: center;
    margin-top: 100px;
}

#btn__ok:hover{
    background-color: orange;
    color: black;
}

@media (min-width: 1200px){
    .sucessos{
        font-size: 1.4em;
        width: 70%;
        margin-top: 100px;
    }

    #btn__ok{
        font-size: 1.5em;
        margin-top: 200px;
        width: 200px;
    }
}

@media (min-width: 1600px){
    .sucessos{
        font-size: 2.0em;
        width: 60%;
        margin-top: 150px;
    }
}